[Desktop Entry]
Name=AnyWave
Exec=/usr/bin/anywave
Icon=/usr/local/AnyWave/share/icons/apps/AnyWave_icon.png
Type=Application
Categories=Scientific;Utility;
